body, body *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul, ol, li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body{
	margin: 50px;
}

.todos li{
	margin: 20px 0;
}

.todo-info-display{
	padding: 20px;
	background: #ededed;
	width: 220px;
	margin-bottom: 20px;
}
