<div>
	<h1>New Todo</h1>
	<form>
		<label>Name</label>
		<input type="text" ng-model="todo.name">
		<label>Done</label>
		<input type="checkbox" ng-model="todo.done">
		<span class="btn btn-success" ng-click="addTodo()">Add</span>
	</form>

</div>