<div>
	<h1>Todos:</h1>

	<ul class="todos">
		<li ng-repeat="todo in todos">
			<div class="row">
				<div class="span6">
					<input type="checkbox" ng-model="todo.done">
					{{todo.name}}
				</div>
				
				<div class="span4 offset2">
					<span class="btn btn-danger" ng-click="delete($index)">Delete</span>
					<!-- <a href="/#/edit/{{$index}}">Edit</a> -->
					<a class="btn btn-info" href="/edit/{{$index}}">Edit</a>
				</div>
			</div>
		</li>
	</ul>

	<todo-count total-todos="todos.length" first-todo-name="{{todos[0].name}}"></todo-count>
	
	<p><a href="/new" class="btn btn-success">New Todo</a></p>

</div>