<div>
    <h1>New Todo</h1>
    <span> Current Time: {{ now | date: "yyyy-MM-dd"}}</span>
    <form>
        <label>Name</label>
        <input type="text" ng-model="todo.name">
        <label>Done</label>
        <input type="checkbox" ng-model="todo.done">
        <span class="btn btn-success" ng-click="add()">Add</span>
    </form>

</div>