<div>
    <h1>Todos:</h1>

    <ul class="list-group">
        <li ng-repeat="todo in todos" class="list-group-item">
            <p>
                <input type="checkbox" ng-model="todo.done" disabled>
                {{todo.name}}
                <span>{{todo.timestamp | date: "yyyy-MM-dd"}}</span>
                <span class="btn btn-danger" ng-click="delete($index)">Delete</span>

            </p>
        </li>
    </ul>
    <p><a href="/#/create" class="btn btn-success">New Todo</a></p>

</div>